<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}"
          href="../../css/sidebar.css" />
    <link rel="stylesheet" th:href="@{/css/product.css}"
          href="../../css/product.css" />
    <!--<link rel="stylesheet" th:href="@{/css/menu.css}"-->
          <!--href="../../css/menu.css" />-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="navbar-form navbar-right">
            <form th:action="@{/logout}" method="post">
                <input type="submit" class="btn btn-danger" value="Log Out"/>
            </form>
        </div>
    </div><!--/.nav-collapse -->
</div><!--/.navbar -->
<div class="row-offcanvas row-offcanvas-left">
    <div id="sidebar" class="sidebar-offcanvas">
        <div class="col-md-12">
            <h3>Menu</h3>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="/home/order">Order List</a></li>
                <li><a href="/product">Add product</a></li>
            </ul>
        </div>
    </div>
    <div id="main">
        <div class="container">
            <div class="row">
                <!-- BEGIN PRODUCTS -->
                <div th:each="product : ${products}">
                    <div class="col-md-3 col-sm-6">
    		<span class="thumbnail">
      			<img th:src="@{/imageDisplay/} + ${{product.id}}"/>
      			<h4 th:text="${product.productName}"></h4>
      			<div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
      			<p th:text="${product.description}"></p>
      			<hr class="line"/>
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price" th:text="${product.priceIsNow}"></p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" >Details</button>
      				</div>

      			</div>
    		</span>
                    </div>
                </div>
            </div>

            <!-- Pagination Bar -->
            <div >
                <div>
                    <ul class='pagination pagination-centered'>
                        <li th:class="${page.firstPage}?'disabled':''">
                            <span th:if='${page.firstPage}'>← First</span>
                            <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>← First</a>
                        </li>
                        <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                            <span th:if='${not page.hasPreviousPage}'>«</span>
                            <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}' title='Go to previous page'>«</a>
                        </li>
                        <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                            <span th:if='${item.current}' th:text='${item.number}'>1</span>
                            <a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span th:text='${item.number}'>1</span></a>
                        </li>
                        <li th:class="${page.hasNextPage}? '' : 'disabled'">
                            <span th:if='${not page.hasNextPage}'>»</span>
                            <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}' title='Go to next page'>»</a>
                        </li>
                        <li th:class="${page.lastPage}? 'disabled' : ''">
                            <span th:if='${page.lastPage}'>Last →</span>
                            <a th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Last →</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>
