<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}"
          href="../../css/sidebar.css" />
    <link rel="stylesheet" th:href="@{/css/product.css}"
          href="../../css/product.css" />
    <link rel="stylesheet" th:href="@{/css/menu.css}"
          href="../../css/menu.css" />
    <link rel="stylesheet" th:href="@{/css/details.css}"
          href="../../css/details.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="navbar-form navbar-right">
            <form th:action="@{/logout}" method="post">
                <input type="submit" class="btn btn-danger" value="Log Out"/>
            </form>
        </div>
    </div><!--/.nav-collapse -->
</div><!--/.navbar -->
<div class="row-offcanvas row-offcanvas-left">
    <div id="sidebar" class="sidebar-offcanvas">
        <div class="col-md-12">
            <h3>Menu</h3>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/home">Home</a></li>
                <li class="active"><a href="/home/order">Order List</a></li>
                <li><a href="/calendar">Calendar</a></li>
                <li><a href="#">Section</a></li>
                <li><a href="#">Section</a></li>
                <li><a href="#">Section</a></li>
                <li><a href="#">Section</a></li>
                <li><a href="#">Section</a></li>
                <li><a href="#">Section</a></li>
                <li><a href="#">Section</a></li>
            </ul>
        </div>
    </div>
    <div id="main">
        <div class="container">
            <div class="row center_div">
                <div class="col-xs-5 item-photo">
                    <img th:src="@{/imageDisplay/} + ${{order.product.id}}" style="max-width: 100%"/>
                </div>
                <div class="col-xs-5 detail" style="background: white">
                    <h4 th:text="${order.product.productName}"></h4>

                    <h5 class="title-price"><small>PRICE</small></h5>
                    <h4 th:text="${order.product.priceIsNow}" style="margin-top:0px;"></h4>

                    <h5 class="title-price"><small>FIRST NAME</small></h5>
                    <h4 th:text="${order.firstName}" style="margin-top:0px;"></h4>

                    <h5 class="title-price"><small>LAST NAME</small></h5>
                    <h4 th:text="${order.lastName}" style="margin-top:0px;"></h4>

                    <h5 class="title-price"><small>PHONE NUMBER</small></h5>
                    <h4 th:text="${order.phoneNumber}" style="margin-top:0px;"></h4>

                    <h5 class="title-price"><small>CITY</small></h5>
                    <h4 th:text="${order.city}" style="margin-top:0px;"></h4>

                    <h5 class="title-price"><small>ADDRESS</small></h5>
                    <h4 th:text="${order.address}" style="margin-top:0px;"></h4>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>