<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/registration.css}"
          href="../../css/registration.css" />
    <link rel="stylesheet" th:href="@{/css/sidebar.css}"
          href="../../css/sidebar.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="navbar-form navbar-right">
            <a href="/login" class="btn btn-info" role="button" aria-pressed="true">Log in</a>
            <a href="/registration" class="btn btn-success" role="button" aria-pressed="true">Registration</a>
        </div>
    </div><!--/.nav-collapse -->
</div><!--/.navbar -->

<div class="row-offcanvas row-offcanvas-left">

    <div id="main">
        <div class="col-md-2" />
        <div class="col-md-8 center_div">
            <div class="well bs-component">
                <form class="form-horizontal" th:action="@{/order/} + ${id}" th:object="${order}" method="post">
                    <fieldset>
                        <legend>Product</legend>
                        <div class="form-group">
                            <label for="firstName" class="col-md-2 control-label">First Name</label>
                            <div class="col-md-10">
                                <input type="text"  name="firstName" id="firstName" class="form-control" placeholder="First Name"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="lastName" class="col-md-2 control-label">Last Name</label>
                            <div class="col-md-10">
                                <input type="text"  name="lastName" id="lastName" class="form-control" placeholder="Last Name"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="phoneNumber" class="col-md-2 control-label">Phone Number</label>
                            <div class="col-md-10">
                                <input type="text"  name="phoneNumber" id="phoneNumber" class="form-control" placeholder="Phone Number"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="city" class="col-md-2 control-label">City</label>
                            <div class="col-md-10">
                                <input type="text"  name="city" id="city" class="form-control" placeholder="City"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="address" class="col-md-2 control-label">Address</label>
                            <div class="col-md-10">
                                <input type="text"  name="address" id="address" class="form-control" placeholder="Address"/>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
