<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}"
          href="../../css/sidebar.css" />
    <link rel="stylesheet" th:href="@{/css/product.css}"
          href="../../css/product.css" />
    <link rel="stylesheet" th:href="@{/css/menu.css}"
          href="../../css/menu.css" />
    <link rel="stylesheet" th:href="@{/css/details.css}"
          href="../../css/details.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="navbar-form navbar-right">
            <a href="/login" class="btn btn-info" role="button" aria-pressed="true">Log in</a>
            <a href="/registration" class="btn btn-success" role="button" aria-pressed="true">Registration</a>
        </div>
    </div><!--/.nav-collapse -->
</div><!--/.navbar -->
<div class="row-offcanvas row-offcanvas-left">
    <div id="sidebar" class="sidebar-offcanvas">
        <div class="col-md-12">
            <h3>Menu</h3>
            <ul class="nav nav-pills nav-stacked menu">
                <li>
                    <input id="check01" type="checkbox" name="menu"/>
                    <label for="check01">Category</label>
                    <ul class="submenu">
                        <li><a href="/shop">All Category</a></li>
                        <div th:each="category : ${categories}">
                            <li><a th:href="@{/shop/} + ${{category.id}}"><h6 th:text="${category.category}"></h6></a></li>
                        </div>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    <div id="main">
        <div class="container">
            <div class="row center_div">
                <div class="col-xs-5 item-photo">
                    <img th:src="@{/imageDisplay/} + ${{product.id}}" style="max-width: 100%"/>
                </div>
                <div class="col-xs-5 detail" style="background: white">
                    <h3 th:text="${product.productName}"></h3>

                    <h5 class="title-price"><small>PRICE</small></h5>
                    <h3 th:text="${product.priceIsNow}" style="margin-top:0px;"></h3>

                    <!-- Detalles especificos del producto -->

                    <div class="section" style="padding-bottom:5px;">
                        <h5 class="title-attr"><small>DESCRIPTION</small></h5>
                        <div>
                            <div th:text="${product.description}"></div>
                        </div>
                    </div>

                    <!-- Botones de compra -->
                    <div class="section" style="padding-bottom:20px;">
                        <a th:href="@{/order/} + ${{product.id}}" class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>