<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="css/sidebar.css" rel="stylesheet"/>
    <link href="css/registration.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="navbar-form navbar-right">
            <form th:action="@{/logout}" method="post">
                <input type="submit" class="btn btn-danger" value="Log Out"/>
            </form>
        </div>
    </div><!--/.nav-collapse -->
</div><!--/.navbar -->

<div class="row-offcanvas row-offcanvas-left">

    <div id="main">
        <div class="col-md-2" />
        <div class="col-md-8 center_div">
            <div class="well bs-component">
                <form class="form-horizontal" th:action="@{/product}" th:object="${product}" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <legend>Product</legend>
                        <div class="form-group">
                            <label for="productName" class="col-md-2 control-label">Назва</label>
                            <div class="col-md-10">
                                <input type="text"  name="productName" id="productName" class="form-control" placeholder="Назва"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="price" class="col-md-2 control-label">Ціна</label>
                            <div class="col-md-10">
                                <input type="number"  name="price" id="price" class="form-control" placeholder="Ціна"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="description" class="col-md-2 control-label">Опис</label>
                            <div class="col-md-10">
                                <textarea type="text"  name="description" id="description" class="form-control" placeholder="Опис"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="category" class="col-md-2 control-label">Категорія</label>
                            <div class="col-md-10">
                                <select class="form-control" id="category" th:field="*{categoryId}">
                                    <option th:each="category : ${allCategory}"
                                            th:value="${category.id}"
                                            th:text="${category.category}">Wireframe</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="image" class="col-md-2 control-label">Зображення</label>
                            <div class="col-md-10">
                                <label class="btn btn-default btn-file">
                                    Browse <input type="file" class="product" id="image" name="product" style="display: none;"/>
                                </label>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
