<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.activation.title}">Online shop activation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="#{email.activation.greeting(${user.firstName})}">
    Dear
</p>
<p th:text="#{email.activation.text1}">
    Your account has been created, please click on the URL below to activate it:
</p>
<p>
    <a th:href="@{|${baseUrl}/activation?key=${user.activationKey}|}" th:text="|${user.firstName}|">Activation Link</a>
</p>
</body>
</html>