h4{
    font-weight: 600;
}
p{
    font-size: 12px;
    margin-top: 5px;
}


.price{
    font-size: 30px;
    margin: 0 auto;
    color: #333;
}
.right{
    float:right;
    border-bottom: 2px solid #4B8E4B;
}
.thumbnail{

    opacity:0.70;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.thumbnail:hover{
    opacity:1.00;
    box-shadow: 0px 0px 10px #4bc6ff;
}
.line{
    margin-bottom: 5px;
}
@media screen and (max-width: 770px) {
    .right{
        float:left;
        width: 100%;
    }
}

@media (min-width: 970px){
    .container {
        width: auto;
        margin-top: 15px;
    }
}

@media (min-width: 1170px){
    .container {
        width: auto;
    }
}

@media (min-width: 750px){
    .container {
        width: auto;
    }
}

